<!--
  We will render the chat messages to the #messages div.
  To keep things simple, users will enter their username and a message to the respective input fields and hit enter to
  send the message.
  The message display format is: <p><b>[username]</b>: message</p>
-->

<div id="messages"></div>
<br/>

<div class="col-md-2 form-group">
  <label>Username</label>
  <input id="username" type="text" class="form-control" />
</div>

<div class="col-md-6 form-group">
  <label>Message</label>
  <input id="message" type="text" class="form-control" />
</div>